xterm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
!xterm*Background: #000010
!xterm*Foreground: grey
xterm*faceName: terminus:medium:pixelsize=14
!xterm*font: terminus-12
!xterm*font: -*-fixed-medium-r-*-*-15-*-*-*-*-*-iso8859-*
!xterm*font: -*-fixed-medium-r-*-*-13-*-*-*-*-*-iso8859-*
!xterm*font1: -*-*-*-*-*-*-2-*-*-*-*-*-*-*
!xterm*font2: -misc-fixed-*-r-normal-*-8-*-*-*-*-*-iso8859-*
!xterm*font3: -b&h-lucidatypewriter-bold-*-*-*-12-*-*-*-*-*-*-*
!xterm*font4: -*-screen-bold-r-normal-*-16-*-*-*-*-*-iso8859-*
!xterm*font5: -*-lucidatypewriter-medium-*-*-*-18-*-*-*-*-*-*-*
!xterm*font6: -*-lucidatypewriter-medium-*-*-*-20-*-*-*-*-*-*-*
!xterm*font7: -dec-terminal-bold-r-normal-*-14-*-*-*-*-*-iso8859-*
xterm*saveLines:1000

!XTerm*color0: #000000
!XTerm*color1: #9e1828
!XTerm*color2: #aece92
!XTerm*color3: #968a38
!XTerm*color4: #414171
!XTerm*color5: #963c59
!XTerm*color6: #418179
!XTerm*color7: #bebebe
!XTerm*color8: #666666
!XTerm*color9: #cf6171
!XTerm*color10: #c5f779
!XTerm*color11: #fff796
!XTerm*color12: #4186be
!XTerm*color13: #cf9ebe
!XTerm*color14: #71bebe
!XTerm*color15: #ffffff

!xterm*cursorColor: #DCDCCC

! Zenburn
xterm*background:  #3f3f3f
xterm*foreground:  #dcdccc
xterm*color0:      #1E2320
xterm*color1:      #705050
xterm*color2:      #60b48a
xterm*color3:      #dfaf8f
xterm*color4:      #506070
xterm*color5:      #dc8cc3
xterm*color6:      #8cd0d3
xterm*color7:      #dcdccc
xterm*color8:      #709080
xterm*color9:      #dca3a3
xterm*color10:     #c3bf9f
xterm*color11:     #f0dfaf
xterm*color12:     #94bff3
xterm*color13:     #ec93d3
xterm*color14:     #93e0e3
xterm*color15:     #ffffff

! Molokai theme
!xterm*background: #101010
!xterm*foreground: #d0d0d0
!xterm*cursorColor: #d0d0d0
!xterm*color0: #101010
!xterm*color1: #960050
!xterm*color2: #66aa11
!xterm*color3: #c47f2c
!xterm*color4: #30309b
!xterm*color5: #7e40a5
!xterm*color6: #3579a8
!xterm*color7: #9999aa
!xterm*color8: #303030
!xterm*color9: #ff0090
!xterm*color10: #80ff00
!xterm*color11: #ffba68
!xterm*color12: #5f5fee
!xterm*color13: #bb88dd
!xterm*color14: #4eb4fa
!xterm*color15: #d0d0d0

! random theme
! https://bbs.archlinux.org/viewtopic.php?pid=653473
!XTerm*color0:            #000000
!XTerm*color1:            #7b3303
!XTerm*color2:            #426d0f
!XTerm*color3:            #a67b07
!XTerm*color4:            #0771a6
!XTerm*color5:            #a6a007
!XTerm*color6:            #008d9a
!XTerm*color7:            #8a8a8a
!XTerm*color8:            #000000
!XTerm*color9:            #7b3303
!XTerm*color10:            #426d0f
!XTerm*color11:            #a67b07
!XTerm*color12:            #0771a6
!XTerm*color13:            #a6a007
!XTerm*color14:            #008d9a
!XTerm*color15:            #8a8a8a

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

!xterm*background:              #002b36
!xterm*foreground:              #839496
!xterm*fading:                  40
!xterm*fadeColor:               #002b36
!xterm*cursorColor:             #93a1a1
!xterm*pointerColorBackground:  #586e75
!xterm*pointerColorForeground:  #93a1a1

!xterm*color0:                  #073642
!xterm*color1:                  #dc322f
!xterm*color2:                  #859900
!xterm*color3:                  #b58900
!xterm*color4:                  #268bd2
!xterm*color5:                  #d33682
!xterm*color6:                  #2aa198
!xterm*color7:                  #eee8d5
!xterm*color9:                  #cb4b16
!xterm*color8:                  #002b36
!xterm*color10:                 #586e75
!xterm*color11:                 #657b83
!xterm*color12:                 #839496
!xterm*color13:                 #6c71c4
!xterm*color14:                 #93a1a1
!xterm*color15:                 #fdf6e3
